.todoform {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.moderninput{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.moderninput:focus {
    outline: none;
    border-color: #4CAF50;
}